{
  "LOGLEVEL": "error",
  "HOST": "192.168.168.168.168",
  "PORT": 1099,
  "HOUSE": "J",
  "DELTA": 15,
  "DOMOTICZ": "192.168.168.168:8080",
  "DEVICES": {
    "6": 66,
    "7": 177,
    "8": 288
  }
}
