[Unit]
Description=A Domoticz Mochad bridge assistant
Requires= mochad.service
After=multi-user.target mochad.service

[Service]
Type=exec
RestartSec=5
Restart=always
ExecStart=/usr/local/bin/mochas  &
StandardError=null

[Install]
WantedBy=multi-user.target
